<html>
	<head>
		<title></title>
		<style type="text/css">
			[v-cloak]{
				opacity:0;
			}
		</style>
		<script src="../src/js/jquery-1.12.4.min.js"></script>
		<script src="../src/js/vue.js"></script>
	</head>
	<body>
		<div id="weipage" class="weipage" v-cloak>
			<button @click="insertPlugin">新增面板</button>
			<div class="view-page">
				<div class="view-page-head"></div>
				<div class="view-page-content">
					<template v-for="item in pluginList">
						<panel-view v-if="item.pluginType == 'panel'" :view-data="item" :select-plugin-id="selectPluginId"></panel-view>
					</template>
				</div>
			</div>
			<div class="edit-page" v-if="editForm">
				<ul class="tab-control">
					<li :class="{current: selectForm == 'base'}" @click="changeFormTab('base')">基础</li>
					<li :class="{current: selectForm == 'style'}" @click="changeFormTab('style')">样式</li>
					<li :class="{current: selectForm == 'event'}" @click="changeFormTab('event')">事件</li>
					<li :class="{current: selectForm == 'animation'}" @click="changeFormTab('animation')">动画</li>
					<li :class="{current: selectForm == 'statistics'}" @click="changeFormTab('statistics')">统计</li>
				</ul>
				<div class="remove-plugin" @click="removePlugin(editForm.pluginId)"></div>
				<template v-if="selectForm == 'base'">
					<panel-base-form :form-data="editForm.base" @form-change="formChange"></panel-base-form>
				</template>
				<template v-if="selectForm == 'style'">
					<panel-style-form :form-data="editForm.style" @form-change="formChange"></panel-style-form>
				</template>
			</div>		
		</div>
	</body>
</html>