body{
	color:#333;
}
.tool-page{
	width:100px;
	text-align:center;
}
.tool-page .tool-title{
	padding:10px;
	font-size:16px;
}
.tool-page .tool-list{
	padding:10px;
}
.tool-page .tool-list li{
	margin:10px 0;
	border-radius:8px;
	padding:10px 0;
	cursor:pointer;
	background-color:#f2f2f2;
}
.view-page{
	position:absolute;
	left:100px;
	top:0;
	width:375px;
	border:1px solid #e5e5e5;
}
.view-page .view-page-head{
	height:75px;
	background-image:url('../img/titlebar.png');
	background-size:100% 100%;
}
.view-page .view-page-content{
	width:100%;
	height:667px;
	overflow-x:hidden;
	overflow-y:auto;
	position:relative;
	background-color:#f2f2f2;
	padding-right:2px;
}
.view-page .view-page-content .plugin{
	cursor:pointer;
}
.view-page .view-page-content .plugin.current{
	box-shadow:1px 1px 1px #138ed4;
	z-index:2;
}
.plugin.clone{
	position:fixed !important;
	cursor:pointer;
	z-index:100;
}
.plugin.drop{
	opacity:0.5;
}
.edit-page{
	position:absolute;
	right:0;
	top:0;
	width:450px;
	background-color:#f8f8f8;
}
.edit-page .tab-control{
	background-color:#ddd;
	display:flex;
	justify-content:flex-start;
	padding:10px 0 0 10px;
}
.edit-page .tab-control li{
	padding:10px 20px;
	font-size:18px;
	border-radius:8px 8px 0 0;
	cursor:pointer;
}
.edit-page .tab-control li.current{
	background-color:#f8f8f8;
}
.edit-page .remove-plugin{
	position:absolute;
	right:12px;
	top:12px;
	width:24px;
	height:24px;
	background-image:url('../img/icon-delete.png');
	background-size:100% 100%;
	cursor:pointer;
}
.plugin-tree-page{
	position:fixed;
	z-index:800;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(0,0,0,0.5);
}
.plugin-tree-page.hidden{
	display:none;
}
.plugin-tree-page .plugin-tree-dialog{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	border-radius:8px;
	width:600px;
	height:400px;
	background-color:#fff;
}
.plugin-tree-dialog .dialog-head{
	height:40px;
	line-height:40px;
	background-color:#f2f2f2;
	font-size:20px;
	padding:0 20px;
	position:relative;
	border-radius:8px 8px 0 0;
}
.plugin-tree-dialog .dialog-close{
	width:24px;
	height:24px;
	right:8px;
	top:8px;
	position:absolute;
	background-image:url('../img/icon-close.png');
	background-size:100% 100%;
	cursor:pointer;
}